
      <header class="container-fluid"  style="background-color:#e6e6e6;margin-bottom: 20px;padding:10px">
        
        <img class="col-lg-2 col-md-2 col-sm-8 col-xs-12" src="../assets/logo.png" style="padding:20px;">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <a href="#"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 " style="padding:20px"><button type="button" class="btn btn-primary btn-lg" style="width:100%">Home</button></div></a>
          <a href="#about"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding:20px"><button type="button" class="btn btn-primary btn-lg" style="width:100%">About Us</button></div></a>
          <a href="#how"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding:20px"><button type="button" class="btn btn-primary btn-lg" style="width:100%">How it works</button></div></a>
          <a href="#contact"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding:20px"><button type="button" class="btn btn-primary btn-lg" style="width:100%">Contact Us</button></div></a>
        </div>

      </header>


<div class="container-fluid">

    <div>
      <div id="slider" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          <li data-target="#slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active" >
              <img src="..\assets\pic01.jpg" alt="Pic1" style=" width:100%;"/>

              <div class="carousel-caption">
                  <h3>What we do? <br>Take your business online in minutes</h3>
              </div>
          </div>
          <div class="item">
              <img src="..\assets\pic02.jpg" alt="Pic2" style=" width:100%;"/>
              <div class="carousel-caption">
                  <h3>What you get?<br> You're in control of your business website</h3>
              </div>
          </div>
          <div class="item">
              <img src="..\assets\pic03.jpg" alt="Pic3" style=" width:100%;"/>
              <div class="carousel-caption">
                  <h3>What more?<br> Get discovered with location based seo</h3>
              </div>
          </div>
          <div class="item">
              <img src="..\assets\pic04.jpg" alt="Pic4" style=" width:100%;"/>
              <div class="carousel-caption">
                  <h3>What do you get? <br>Sell your products online</h3>
              </div>
          </div>


        </div>
        <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>

</div>
<br>
<div id="about" class="container-fluid" style="margin:20px 0px 20px 0px">
    <div class="card " style="height:50vh">
        <div class="col-lg-12 limit" >
            <div style="margin:10px">
              <p style="font-family:Arial;padding:25px;font-size:18px"><b>About Us | Get Your Business Online In Less Than 15 Minutes.</b><br>
                  GET YOUR WEBSITE DONE INSTANTLY, in less than 15 MINUTES. Its easier than ever to create a website through your laptop, desktop or smartphone. Create, update and manage your website on your own in an easy, hassle free way. No technical skills needed.......</p>
              
            </div>
        </div>

    </div>
    
</div>
<br>
<div id = "how" class="container-fluid" style="margin:20px 0px 20px 0px">
    <div class="card " style="height:50vh">
        <div class="col-lg-12 limit" >
            <div style="margin:10px">
              <p style="font-family:Arial;padding:25px;font-size:18px"><b>How it works | You're in control of your business website</b><br>
                  Your website, your content.<br>
                  Managing your website is made simple. Update it through our app or web dashboard. You won't have to be dependent on a web developer to update your website with the latest offers, launches or news...........</p>
              
            </div>
        </div>
    </div>
    
</div>

<br>
<br>
<footer id ="contact" class="foot" >
    <div class="container x1">
      <div class="col-lg-4 col-md-4 col-sm-4">
       
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
       
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="x1 row font-mont" style="font-size:23px;padding-left:2.5em;padding-top:20px"><u>FOLLOW US ON SOCIAL MEDIA</u></div>
        <br>
          <ul class="row">
            <a class="col-lg-1 col-md-2 col-sm-2"></a>
             <a class="col-lg-1 col-md-2 col-sm-2" href="https://www.facebook.com/" target="_blank" style="color:black;padding-left:20px"><i class="fab fa-facebook-f" style="font-size:60px"></i></a>
              <a class="col-lg-1 col-md-2 col-sm-2"href="https://twitter.com/" target="_blank" style="color:black;padding-left:20px"><i class="fab fa-twitter" style="font-size:60px"></i></a>
              <a class="col-lg-1 col-md-2 col-sm-2"href="https://in.pinterest.com/" target="_blank" style="color:black;padding-left:40px"><i class="fab fa-pinterest" style="font-size:60px"></i></a>
             <a class="col-lg-1 col-md-2 col-sm-2" href="https://github.com/" target="_blank" style="color:black;padding-left:60px"> <i class="fab fa-github" style="font-size:60px"></i></a>
          </ul>
          <br>
          <div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <ul>
                      <h3 class="text-col font-mont x1" style="color:black"><u>ABOUT WebsitesCo</u><sup style="font-size:15px">&copy;</sup></h3><br>
                      <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74" style="color:black;font-size:18px">About Us</a></li><br>
                      <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74" style="color:black;font-size:18px">FAQ</a></li><br>
                      <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74"style="color:black;font-size:18px">Join Us</a></li><br>
      
                      <br>
                  </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <ul>
                      <h3 class="text-col font-mont x1" style="color:black"><u>CONTACT US</u></h3><br>
                      <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74" style="color:black;font-size:18px">Shushant Kumar</a></li><br>
                      <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74" style="color:black;font-size:18px">(+91) 7815924731</a></li><br>
                      <li class="ul-li x1 font-mont"><a ui-sref="" class="text-gray74"style="color:black;font-size:18px">NITK Hostels, NITK Surathkal</a></li><br>
      
                      <br>
                  </ul>
              </div>
  
          </div>
      </div>
    </div>
</footer>

<router-outlet></router-outlet>
